# Midterm Exam - Machine Learning with Python

Due Time: November 23, 2023, at 12:00 AM

## *1*. Random Day Problem

###(a) Create a random date within the range of January 1, 2000, to December 31, 2023, following this format: for example, 2009-11-09.

In [119]:
# 1. (a)
import random
from datetime import date, timedelta

# 定義開始和結束日期
start_date = date(2000, 1, 1)
end_date = date(2023, 12, 31)

# 計算日期範圍
delta = end_date - start_date

random_days = random.randint(0, delta.days)

random_date = start_date + timedelta(days=random_days)

formatted_random_date = random_date.strftime("%Y-%m-%d")

print("Random Date:", formatted_random_date)

Random Date: 2008-01-30

###1.(b) Produce a one-month calendar for the year and month corresponding to the randomly generated date in (a), in this format: for example,

2009-11  生活日誌


2009-11-01（日）


2009-11-02（一）


2009-11-03（二）\
.\
.\
.

In [120]:
# 1. (b)
# Importing necessary modules
from datetime import date, timedelta
from calendar import monthrange

# 從(a)程式中獲取隨機日期
random_date = date(int(formatted_random_date[:4]), int(formatted_random_date[5:7]), int(formatted_random_date[8:]))

# 獲取隨機日期對應的年份和月份
year = random_date.year
month = random_date.month

# 輸出標題
print(f"{year}-{month:02d} 生活日誌")

# 獲取該月份的天數
days_in_month = monthrange(year, month)[1]

# 設定一個起始日期為該月的第一天
current_day = date(year, month, 1)

# 生成一個月的日曆
for day in range(1, days_in_month + 1):
    # 獲取星期幾（0代表星期一，6代表星期日）
    weekday = current_day.strftime("%w")

    # 根據星期幾獲取對應的星期幾名稱
    weekday_name = ("日", "一", "二", "三", "四", "五", "六")[int(weekday)]

    # 格式化日期
    formatted_day = current_day.strftime("%Y-%m-%d")

    # 輸出日期和對應的星期幾
    print(f"{formatted_day}（{weekday_name}）")

    # 更新日期為下一天
    current_day += timedelta(days=1)

2008-01 生活日誌
2008-01-01（二）
2008-01-02（三）
2008-01-03（四）
2008-01-04（五）
2008-01-05（六）
2008-01-06（日）
2008-01-07（一）
2008-01-08（二）
2008-01-09（三）
2008-01-10（四）
2008-01-11（五）
2008-01-12（六）
2008-01-13（日）
2008-01-14（一）
2008-01-15（二）
2008-01-16（三）
2008-01-17（四）
2008-01-18（五）
2008-01-19（六）
2008-01-20（日）
2008-01-21（一）
2008-01-22（二）
2008-01-23（三）
2008-01-24（四）
2008-01-25（五）
2008-01-26（六）
2008-01-27（日）
2008-01-28（一）
2008-01-29（二）
2008-01-30（三）
2008-01-31（四）

###1.(c) Produce a one-month calendar for the year and month corresponding to the randomly generated date in (a), in this format: for example,

![image.png]()

In [121]:
# 1. (c)
# Importing necessary modules
from datetime import date, timedelta
from calendar import monthrange
import pandas as pd
import math

# 取得隨機日期所在年份和月份
random_year = random_date.year
random_month = random_date.month

# 取得隨機日期所在月份的第一天和最後一天
first_day = date(random_year, random_month, 1)
last_day = date(random_year, random_month, monthrange(random_year, random_month)[1])

# 確定第一天是星期幾
first_weekday = first_day.weekday()

# 製作日曆 DataFrame
days_in_month = (last_day - first_day).days + 1
date_range = pd.date_range(start=first_day, end=last_day)
dates = [date.strftime("%d") for date in date_range]

padding_days = first_weekday
if padding_days != 0:
    padding_dates = ['' for _ in range(padding_days)]
    dates = padding_dates + dates

weeks = math.ceil(days_in_month / 7)
calendar_matrix = [dates[i * 7:(i + 1) * 7] if i < weeks - 1 else dates[i * 7:(i + 1) * 7] + ['' for _ in range(7 - len(dates[i * 7:(i + 1) * 7]))] for i in range(weeks)]

# 轉換為 DataFrame
calendar_df = pd.DataFrame(calendar_matrix, columns=["一", "二", "三", "四", "五", "六", "日"])

print(f"{last_day.strftime('%Y年%m月')}")
calendar_df

2008年01月

    一   二   三   四   五   六   日
0      01  02  03  04  05  06
1  07  08  09  10  11  12  13
2  14  15  16  17  18  19  20
3  21  22  23  24  25  26  27
4  28  29  30  31

###1.(d) A day that coincides with the 13th of the month and falls on a Friday is commonly regarded as an "unlucky" day in Western superstition. This particular day is given the special name "Friday the 13th." Determine the occurrences of "Friday the 13th" both before and after the randomly generated date in (a), in this format: for example,
2009-11-09（一）\
2009-03-13（五）\
2009-11-09（一）\
2009-11-13（五）

In [122]:
# (d)
from datetime import date, timedelta
import math

# 星期的中英對照
weekday_dict = {
    "Monday": "一",
    "Tuesday": "二",
    "Wednesday": "三",
    "Thursday": "四",
    "Friday": "五",
    "Saturday": "六",
    "Sunday": "日"
}

def find_friday_the_13th(date_obj, direction):
    if direction == "before":
        step = -1  # 往前檢查日期
    elif direction == "after":
        step = 1  # 往後檢查日期
    else:
        return "方向指定錯誤"

    current_date = date_obj
    while True:
        current_date += timedelta(days=step)
        if current_date.day == 13 and current_date.weekday() == 4:  # 檢查是否為星期五的 13 號
            return f"{date_obj}（{weekday_dict[date_obj.strftime('%A')]}）\n{current_date}（{weekday_dict[current_date.strftime('%A')]}）"

# 在指定日期前尋找 "Friday the 13th"
before_friday_13 = find_friday_the_13th(random_date, "before")
print(before_friday_13)

# 在指定日期後尋找 "Friday the 13th"
after_friday_13 = find_friday_the_13th(random_date, "after")
print(after_friday_13)

2008-01-30（三）
2007-07-13（五）
2008-01-30（三）
2008-06-13（五）

###1.(e) Determine the occurrences of the same day both before and after the randomly generated date in (a), in this format: for example,

The same day in the previous month: 2004-11-29\
The same day in the coming month: 2005-01-29

In [ ]:
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

The same day in the previous month: 2004-11-29
The same day in the coming month: 2005-01-29
The same day in the previous month: 2019-12-30
The same day in the coming month: 2020-03-30

In [124]:
from datetime import date, timedelta

def find_same_day(date_obj, direction):
    if direction == "previous":
        delta = -1
    elif direction == "coming":
        delta = 1
    else:
        return "方向指定錯誤"

    target_date = date_obj + timedelta(days=delta * 31)

    # 檢查是否超出該月的範圍，並做適當調整
    while True:
        try:
            same_day = date(target_date.year, target_date.month, date_obj.day)
            break
        except ValueError:
            target_date -= timedelta(days=1)

    return same_day

# 找到指定日期之前的同一天日期
previous_same_day = find_same_day(random_date, "previous")
print('The same day in the previous month:', previous_same_day)

# 找到指定日期之後的同一天日期
coming_same_day = find_same_day(random_date, "coming")
print('The same day in the coming month:', coming_same_day)

The same day in the previous month: 2007-12-30
The same day in the coming month: 2008-03-30

## *2*. [GDP per hour worked](https://www.kaggle.com/datasets/joebeachcapital/gdp-per-hour-worked)

Data behind the Economist's article: Productivity has grown faster in western Europe than in America

CSV file:
gdp_over_hours_worked.csv

Sources

OECD, World Bank

https://www.kaggle.com/datasets/joebeachcapital/gdp-per-hour-worked

###2.(a) Find the names of columns with missing values.

In [22]:
#import necessary library to mount personal Google Drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [48]:
import numpy as np
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/gdp_over_hours_worked.csv')
check_null = data.isnull().any()
has_missing = []
for i in range (len(check_null)):
  if list(check_null)[i] == True:
    has_missing.append(check_null.index[i])
print('the names of columns with missing values:')
has_missing

the names of columns with missing values:

['iso2c',
 'iso3c',
 'pop',
 'labor_force',
 'gdp_ppp_c',
 'gdp_ppp',
 'gdp',
 'gdp_c',
 'unemployment_r',
 'pop_over_65',
 'working_age_pop_pct',
 'employment_rate',
 'hours_worked',
 'total_hours',
 'hours_per_employed',
 'employed',
 'total_hours_alternative',
 'gdp_over_k_hours_worked',
 'gdp_ppp_over_k_hours_worked',
 'gdp_over_pop',
 'gdp_ppp_over_pop',
 'gdp_ppp_over_labor_force',
 'gdp_ppp_over_pop_c',
 'gdp_over_pop_c',
 'gdp_ppp_over_k_hours_worked_c']

###2.(b) List the different countries and regions in the column 'country' and find the number of the different countries and regions.

In [51]:
# 從 'country' 欄位中取得不同的國家和地區
unique_countries = data['country'].unique()

# 計算不同國家和地區的數量
num_unique_countries = len(unique_countries)

# 列印不同的國家和地區以及數量
print("不同的國家和地區有：")
print(unique_countries)
print("\n不同的國家和地區數量為：", num_unique_countries)

不同的國家和地區有：
['Arab World' 'World' 'East Asia & Pacific (excluding high income)'
 'Europe & Central Asia (excluding high income)' 'South Asia' 'Andorra'
 'United Arab Emirates' 'Afghanistan' 'Antigua and Barbuda' 'Albania'
 'Armenia' 'Angola' 'Argentina' 'American Samoa' 'Austria' 'Australia'
 'Aruba' 'Azerbaijan' 'Central Europe and the Baltics'
 'Bosnia and Herzegovina' 'Barbados' 'Bangladesh' 'Belgium' 'Burkina Faso'
 'Bulgaria' 'Bahrain' 'Burundi' 'Benin' 'Bermuda' 'Brunei Darussalam'
 'Bolivia' 'Brazil' 'Bahamas, The' 'Bhutan' 'Botswana' 'Belarus' 'Belize'
 'Canada' 'Congo, Dem. Rep.' 'Central African Republic' 'Congo, Rep.'
 'Switzerland' "Cote d'Ivoire" 'Chile' 'Cameroon' 'China' 'Colombia'
 'Costa Rica' 'Cuba' 'Cabo Verde' 'Curacao' 'Cyprus' 'Czechia' 'Germany'
 'Djibouti' 'Denmark' 'Dominica' 'Dominican Republic' 'Algeria' 'Ecuador'
 'Estonia' 'Egypt, Arab Rep.' 'Eritrea' 'Spain' 'Ethiopia'
 'European Union' 'Fragile and conflict affected situations' 'Finland'
 'Fiji' 'Micronesia, Fed. Sts.' 'Faroe Islands' 'France' 'Gabon'
 'United Kingdom' 'Grenada' 'Georgia' 'Ghana' 'Gibraltar' 'Greenland'
 'Gambia, The' 'Guinea' 'Equatorial Guinea' 'Greece' 'Guatemala' 'Guam'
 'Guinea-Bissau' 'Guyana' 'Hong Kong SAR, China' 'Honduras' 'Croatia'
 'Haiti' 'Hungary' 'Indonesia' 'Ireland' 'Israel' 'Isle of Man' 'India'
 'Iraq' 'Iran, Islamic Rep.' 'Iceland' 'Italy' 'Channel Islands' 'Jamaica'
 'Jordan' 'Japan' 'Kenya' 'Kyrgyz Republic' 'Cambodia' 'Kiribati'
 'Comoros' 'St. Kitts and Nevis' "Korea, Dem. People's Rep." 'Korea, Rep.'
 'Kuwait' 'Cayman Islands' 'Kazakhstan' 'Lao PDR' 'Lebanon' 'St. Lucia'
 'Liechtenstein' 'Sri Lanka' 'Liberia' 'Lesotho' 'Lithuania' 'Luxembourg'
 'Latvia' 'Libya' 'Morocco' 'Monaco' 'Moldova' 'Montenegro'
 'St. Martin (French part)' 'Madagascar' 'Marshall Islands'
 'North Macedonia' 'Mali' 'Myanmar' 'Mongolia' 'Macao SAR, China'
 'Northern Mariana Islands' 'Mauritania' 'Malta' 'Mauritius' 'Maldives'
 'Malawi' 'Mexico' 'Malaysia' 'Mozambique' 'New Caledonia' 'Niger'
 'Nigeria' 'Nicaragua' 'Netherlands' 'Norway' 'Nepal' 'Nauru'
 'New Zealand' 'OECD members' 'Oman' 'Panama' 'Peru' 'French Polynesia'
 'Papua New Guinea' 'Philippines' 'Pakistan' 'Poland' 'Puerto Rico'
 'West Bank and Gaza' 'Portugal' 'Palau' 'Paraguay' 'Qatar' 'Romania'
 'Serbia' 'Russian Federation' 'Rwanda' 'Small states'
 'Pacific island small states' 'Caribbean small states'
 'Other small states' 'Saudi Arabia' 'Solomon Islands' 'Seychelles'
 'Sudan' 'Sweden' 'Singapore' 'Slovenia' 'Slovak Republic' 'Sierra Leone'
 'San Marino' 'Senegal' 'Somalia' 'Suriname' 'South Sudan'
 'Sao Tome and Principe' 'El Salvador' 'Sint Maarten (Dutch part)'
 'Syrian Arab Republic' 'Eswatini'
 'Latin America & the Caribbean (IDA & IBRD countries)'
 'Middle East & North Africa (IDA & IBRD countries)'
 'East Asia & Pacific (IDA & IBRD countries)' 'South Asia (IDA & IBRD)'
 'Sub-Saharan Africa (IDA & IBRD countries)'
 'Europe & Central Asia (IDA & IBRD countries)' 'Turks and Caicos Islands'
 'Chad' 'Togo' 'Thailand' 'Tajikistan' 'Timor-Leste' 'Turkmenistan'
 'Tunisia' 'Tonga' 'Turkiye' 'Trinidad and Tobago' 'Tuvalu' 'Tanzania'
 'Ukraine' 'Uganda' 'United States' 'Uruguay' 'Uzbekistan'
 'Pre-demographic dividend' 'Early-demographic dividend'
 'Late-demographic dividend' 'Post-demographic dividend'
 'St. Vincent and the Grenadines' 'Venezuela, RB' 'British Virgin Islands'
 'Virgin Islands (U.S.)' 'Vietnam' 'Vanuatu' 'Samoa' 'Euro area'
 'High income' 'Heavily indebted poor countries (HIPC)' 'IBRD only'
 'IDA total' 'IDA blend' 'IDA only'
 'Latin America & Caribbean (excluding high income)' 'Kosovo'
 'Least developed countries: UN classification' 'Low income'
 'Lower middle income' 'Low & middle income' 'Middle income'
 'Middle East & North Africa (excluding high income)'
 'Upper middle income' 'North America' 'Not classified' 'Yemen, Rep.'
 'East Asia & Pacific' 'Europe & Central Asia' 'South Africa'
 'Sub-Saharan Africa (excluding high income)' 'Sub-Saharan Africa'
 'Africa Eastern and Southern' 'Africa Western and Central'
 'Latin America & Caribbean' 'Zambia' 'Middle East & North Africa'
 'IDA & IBRD total' 'Zimbabwe' 'Namibia']

不同的國家和地區數量為： 266

###2.(c) Generate a cross-tabulation (cross table) for two columns 'iso2c' and 'iso3c'.

In [53]:
# 建立交叉表
cross_table = pd.crosstab(data['iso2c'], data['iso3c'])

# 顯示交叉表
cross_table

iso3c,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,ARE,ARG,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
iso2c,,,,,,,,,,,,,,,,,,,,,
1A,0,0,0,0,0,0,0,43,0,0,...,0,0,0,0,0,0,0,0,0,0
1W,0,0,0,0,0,0,0,0,0,0,...,0,0,0,43,0,0,0,0,0,0
4E,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7E,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8S,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZM,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,43,0
ZQ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,43

###2.(d) List the data of the country 'Norway'.

In [55]:
# 篩選 'country' 欄位為 'Norway' 的資料
norway_data = data[data['country'] == 'Norway']

# 顯示 'Norway' 的資料
norway_data

,iso2c,year,country,iso3c,pop,labor_force,gdp_ppp_c,gdp_ppp,gdp,gdp_c,...,employed,total_hours_alternative,gdp_over_k_hours_worked,gdp_ppp_over_k_hours_worked,gdp_over_pop,gdp_ppp_over_pop,gdp_ppp_over_labor_force,gdp_ppp_over_pop_c,gdp_over_pop_c,gdp_ppp_over_k_hours_worked_c
6579,NO,1980,Norway,NOR,4085620.0,NaN,NaN,NaN,6.443906e+10,1.643144e+11,...,1936000.0,NaN,21211.012755,NaN,15772.161079,NaN,NaN,NaN,40217.748173,NaN
6580,NO,1981,Norway,NOR,4099702.0,NaN,NaN,NaN,6.359656e+10,1.669407e+11,...,1961000.0,NaN,20783.190336,NaN,15512.484184,NaN,NaN,NaN,40720.214810,NaN
6581,NO,1982,Norway,NOR,4114787.0,NaN,NaN,NaN,6.264687e+10,1.673336e+11,...,1962000.0,NaN,20607.523676,NaN,15224.815280,NaN,NaN,NaN,40666.405120,NaN
6582,NO,1983,Norway,NOR,4128432.0,NaN,NaN,NaN,6.162752e+10,1.739818e+11,...,1958000.0,NaN,20399.709498,NaN,14927.585675,NaN,NaN,NaN,42142.336657,NaN
6583,NO,1984,Norway,NOR,4140099.0,NaN,NaN,NaN,6.205827e+10,1.845118e+11,...,1973000.0,NaN,20454.275495,NaN,14989.562294,NaN,NaN,NaN,44567.004681,NaN
6584,NO,1985,Norway,NOR,4152516.0,NaN,NaN,NaN,6.541663e+10,1.947585e+11,...,2028000.0,NaN,21061.373567,NaN,15753.491686,NaN,NaN,NaN,46901.324290,NaN
6585,NO,1986,Norway,NOR,4167354.0,NaN,NaN,NaN,7.869267e+10,2.026309e+11,...,2094000.0,NaN,24599.148063,NaN,18883.126952,NaN,NaN,NaN,48623.384687,NaN
6586,NO,1987,Norway,NOR,4186905.0,NaN,NaN,NaN,9.423061e+10,2.061840e+11,...,2138000.0,NaN,29373.630463,NaN,22506.029283,NaN,NaN,NaN,49244.963198,NaN
6587,NO,1988,Norway,NOR,4209488.0,NaN,NaN,NaN,1.019005e+11,2.056580e+11,...,2126000.0,NaN,31873.794640,NaN,24207.343377,NaN,NaN,NaN,48855.811406,NaN
6588,NO,1989,Norway,NOR,4226901.0,NaN,NaN,NaN,1.026339e+11,2.077932e+11,...,2066000.0,NaN,33107.720773,NaN,24281.130405,NaN,NaN,NaN,49159.703615,NaN
6589,NO,1990,Norway,NOR,4241473.0,2154876.0,1.794239e+11,7.830486e+10,1.197910e+11,2.118084e+11,...,2048000.0,NaN,39185.818028,25614.934757,28242.793409,18461.712603,36338.450816,42302.263412,49937.455776,58692.806062
6590,NO,1991,Norway,NOR,4261732.0,2141406.0,1.849581e+11,8.344988e+10,1.218717e+11,2.183415e+11,...,2029000.0,NaN,40314.808305,27604.987571,28596.745532,19581.211921,38969.666398,43399.755863,51233.036114,61183.634906
6591,NO,1992,Norway,NOR,4286401.0,2149497.0,1.915694e+11,8.840249e+10,1.308380e+11,2.261460e+11,...,2024000.0,NaN,43095.527840,29118.078260,30523.980963,20623.941997,41127.056980,44692.360963,52758.945246,63099.269013
6592,NO,1993,Norway,NOR,4311991.0,2151867.0,1.970199e+11,9.307276e+10,1.205787e+11,2.325803e+11,...,2040000.0,NaN,39495.158206,30485.672293,27963.582940,21584.636304,43252.095730,45691.162079,53938.021317,64533.206592
6593,NO,1994,Norway,NOR,4336613.0,2177459.0,2.069798e+11,9.986581e+10,1.271316e+11,2.443378e+11,...,2069000.0,NaN,41116.301639,32298.128398,29315.875002,23028.527790,45863.464243,47728.440232,56343.010541,66940.418636
6594,NO,1995,Norway,NOR,4359184.0,2211446.0,2.155811e+11,1.061970e+11,1.520307e+11,2.544916e+11,...,2112000.0,NaN,48680.964524,34004.800226,34875.942889,24361.667486,48021.516745,49454.465532,58380.568467,69030.136038
6595,NO,1996,Norway,NOR,4381336.0,2268042.0,2.264205e+11,1.175324e+11,1.635199e+11,2.672874e+11,...,2156000.0,NaN,51469.908056,36994.773018,37321.925978,26825.697428,51821.083501,51678.403805,61005.908347,71268.634256
6596,NO,1997,Norway,NOR,4405157.0,2330504.0,2.383858e+11,1.260253e+11,1.613566e+11,2.814123e+11,...,2221000.0,NaN,49480.715376,38646.219182,36629.026588,28608.587794,54076.423290,54115.158779,63882.476501,73102.045521
6597,NO,1998,Norway,NOR,4431464.0,2376840.0,2.447475e+11,1.249641e+11,1.542303e+11,2.889224e+11,...,2280000.0,NaN,46121.515020,37369.648911,34803.474938,28199.282672,52575.733321,55229.499703,65197.946315,73190.053712
6598,NO,1999,Norway,NOR,4461913.0,2381410.0,2.498188e+11,1.364173e+11,1.623843e+11,2.949090e+11,...,2301000.0,NaN,48156.671408,40455.914067,36393.424959,30573.734224,57284.273684,55989.174182,66094.735462,74086.246802
6599,NO,2000,Norway,NOR,4490967.0,2406851.0,2.581102e+11,1.661161e+11,1.714564e+11,3.046968e+11,...,2315000.0,3.267128e+09,51150.474433,49557.296732,38178.056147,36988.928805,69018.006776,57473.184548,67846.596853,77001.842248
6600,NO,2001,Norway,NOR,4513751.0,2420368.0,2.634456e+11,1.707532e+11,1.742402e+11,3.109953e+11,...,2317000.0,3.221856e+09,52816.078282,51759.081535,38602.094405,37829.559042,70548.449640,58365.126752,68899.526904,79856.213788
6601,NO,2002,Norway,NOR,4538159.0,2442182.0,2.670748e+11,1.727053e+11,1.959154e+11,3.152794e+11,...,2319000.0,3.205233e+09,59839.759299,52750.540613,43170.671629,38056.240428,70717.608271,58850.904790,69472.983672,81574.454237
6602,NO,2003,Norway,NOR,4564855.0,2413804.0,2.695984e+11,1.765892e+11,2.293849e+11,3.182586e+11,...,2285000.0,3.152309e+09,71660.396529,55166.899570,50250.211533,38684.524609,73158.071485,59059.570950,69719.312268,84223.173276
6603,NO,2004,Norway,NOR,4591910.0,2426671.0,2.804217e+11,1.959458e+11,2.652674e+11,3.310354e+11,...,2292000.0,3.213919e+09,81320.463144,60069.228184,57768.412430,42671.964890,80746.760602,61068.650510,72091.013297,85966.200802
6604,NO,2005,Norway,NOR,4623291.0,2438548.0,2.879513e+11,2.217648e+11,3.099786e+11,3.399240e+11,...,2319000.0,3.244477e+09,93564.316284,66937.751511,67047.170456,47966.864011,90941.318638,62282.756507,73524.254917,86915.577335
6605,NO,2006,Norway,NOR,4660677.0,2466637.0,2.950393e+11,2.533824e+11,3.469134e+11,3.482913e+11,...,2396000.0,3.300373e+09,101525.711917,74153.466663,74434.112810,54366.006390,102723.828259,63303.948490,74729.763213,86344.529342
6606,NO,2007,Norway,NOR,4709153.0,2525640.0,3.036367e+11,2.645398e+11,4.026456e+11,3.584405e+11,...,2490000.0,3.439483e+09,112439.416450,73873.152609,85502.753932,56175.656092,104741.673165,64477.987983,76115.706672,84791.038994
6607,NO,2008,Norway,NOR,4768212.0,2603099.0,3.051000e+11,2.959761e+11,4.649176e+11,3.601679e+11,...,2570000.0,3.553209e+09,125382.295935,79820.941347,97503.540780,62072.753985,113701.419126,63986.247924,75535.211789,82281.552124
6608,NO,2009,Norway,NOR,4828726.0,2600124.0,2.991799e+11,2.685778e+11,3.879743e+11,3.531793e+11,...,2559000.0,3.477757e+09,106615.648285,73805.382402,80347.144158,55620.837981,103294.222315,61958.359740,73141.307342,82214.878445
6609,NO,2010,Norway,NOR,4889252.0,2605468.0,3.015346e+11,2.846851e+11,4.310521e+11,3.559590e+11,...,2552000.0,3.485312e+09,118128.841872,78017.286242,88163.208593,58226.713915,109264.468980,61672.960169,72804.395620,82634.870893
6610,NO,2011,Norway,NOR,4953088.0,2627229.0,3.048686e+11,3.093703e+11,5.013605e+11,3.598947e+11,...,2589000.0,3.538005e+09,134992.070439,83298.418488,101221.813477,62460.090816,117755.371267,61551.214075,72660.675409,82086.316582
6611,NO,2012,Norway,NOR,5018573.0,2673428.0,3.131548e+11,3.300934e+11,5.127773e+11,3.696765e+11,...,2642000.0,3.593313e+09,135583.635645,87280.113042,102175.919298,65774.352075,123471.957133,62399.168775,73661.678592,82801.370634
6612,NO,2013,Norway,NOR,5079623.0,2700082.0,3.163370e+11,3.422545e+11,5.260145e+11,3.734331e+11,...,2672000.0,3.589620e+09,138534.229164,90138.125831,103553.840134,67377.926226,126757.062841,62275.691289,73515.914489,83312.360769
6613,NO,2014,Norway,NOR,5137232.0,2724239.0,3.228160e+11,3.407652e+11,5.017365e+11,3.810815e+11,...,2700000.0,3.622328e+09,130524.576412,88648.606520,97666.695184,66332.461437,125086.397902,62838.515727,74180.323866,83979.197127
6614,NO,2015,Norway,NOR,5188607.0,2762042.0,3.288118e+11,3.151450e+11,3.881595e+11,3.881595e+11,...,2710000.0,3.639969e+09,100403.391660,81517.078276,74809.965805,60737.886813,114098.563557,63371.888498,74809.965805,85052.204912
6615,NO,2016,Norway,NOR,5234519.0,2769692.0,3.326416e+11,3.103033e+11,3.709565e+11,3.926805e+11,...,2717000.0,3.648607e+09,95484.310813,79872.156746,70867.360997,59280.199203,112035.319830,63547.687050,75017.494474,85622.027071
6616,NO,2017,Norway,NOR,5276968.0,2760886.0,3.408370e+11,3.408370e+11,4.017453e+11,4.023552e+11,...,2748000.0,3.626430e+09,103011.608969,87394.107609,76131.838403,64589.555920,123452.043917,64589.555920,76247.411656,87394.107609
6617,NO,2018,Norway,NOR,5311916.0,2796121.0,3.436623e+11,3.731825e+11,4.397886e+11,4.056904e+11,...,2792000.0,3.681342e+09,110973.662888,94166.674416,82792.842711,70253.846369,133464.371031,64696.490887,76373.647459,86717.720211
6618,NO,2019,Norway,NOR,5347896.0,2825244.0,3.475242e+11,3.739055e+11,4.087428e+11,4.102493e+11,...,2836000.0,3.722584e+09,101601.501568,92941.961696,76430.588947,69916.376832,132344.502633,64983.354208,76712.287126,86384.345003
6619,NO,2020,Norway,NOR,5379475.0,2832047.0,3.430823e+11,3.503661e+11,3.676334e+11,4.050056e+11,...,2792000.0,3.683133e+09,93402.799537,89015.785852,68340.018103,65130.172187,123714.801706,63776.160965,75287.205953,87165.209246
6620,NO,2021,Norway,NOR,5408320.0,2908555.0,3.564570e+11,4.427618e+11,4.902934e+11,4.207944e+11,...,2827000.0,3.819869e+09,121660.884470,109866.458007,90655.391023,81866.795185,152227.420742,65909.003030,77805.007548,88450.863349
6621,NO,2022,Norway,NOR,5457127.0,2980047.0,3.681508e+11,6.270171e+11,5.792674e+11,4.345988e+11,...,2937000.0,3.920392e+09,138448.223173,149860.689464,106148.778628,114898.759886,210405.112684,67462.376446,79638.751419,87990.142428

###2.(e) Find the following statistic for numerical columns.

count: Number of non-null values in each column.\
mean: Mean (average) of each column.\
std: Standard deviation, a measure of the spread of values.\
min: Minimum value in each column.\
25%: 25th percentile (first quartile).\
50%: Median (50th percentile or second quartile).\
75%: 75th percentile (third quartile).\
max: Maximum value in each column.

In [57]:
# 選擇數值型欄位，使用 describe() 方法計算統計數據
numeric_stats = data.describe()

# 顯示統計數據
numeric_stats

,year,pop,labor_force,gdp_ppp_c,gdp_ppp,gdp,gdp_c,unemployment_r,pop_over_65,working_age_pop_pct,...,employed,total_hours_alternative,gdp_over_k_hours_worked,gdp_ppp_over_k_hours_worked,gdp_over_pop,gdp_ppp_over_pop,gdp_ppp_over_labor_force,gdp_ppp_over_pop_c,gdp_over_pop_c,gdp_ppp_over_k_hours_worked_c
count,11560.000000,1.150700e+04,7.861000e+03,7.774000e+03,7.816000e+03,1.032200e+04,1.007800e+04,7623.000000,11517.000000,2236.000000,...,1.718000e+03,9.340000e+02,1695.000000,1436.000000,10322.000000,7816.000000,7304.000000,7774.000000,10078.000000,1436.000000
mean,2001.056228,2.471429e+08,1.304195e+08,3.280849e+12,2.937052e+12,1.507038e+12,1.786821e+12,8.073219,7.097829,65.831278,...,3.611168e+07,3.309809e+10,29418.919194,34270.538139,10463.766240,14881.493293,31482.118562,17044.809523,12032.907256,41450.681832
std,12.402936,7.954097e+08,3.967616e+08,1.054224e+13,1.007733e+13,6.115514e+12,6.462054e+12,5.712513,5.049777,3.340144,...,8.923382e+07,5.531914e+10,26106.410919,23598.924501,18560.435350,18251.548059,33788.905920,19222.376322,18737.352512,24587.410327
min,1980.000000,7.598000e+03,3.270400e+04,2.482164e+07,1.465840e+07,8.824746e+06,2.156211e+07,0.095000,0.171770,51.281287,...,1.110611e+05,2.542552e+08,3.096593,9.474523,22.850371,284.250421,605.072805,436.376416,165.934373,12.406395
25%,1990.000000,1.307206e+06,1.249457e+06,1.785945e+10,1.371533e+10,3.802561e+09,5.876908e+09,4.130000,3.293985,64.411816,...,2.449125e+06,3.836695e+09,9089.926685,17180.461906,941.049933,3048.578428,8025.509420,3699.080097,1508.107732,22967.012066
50%,2001.000000,7.863944e+06,4.674812e+06,1.000981e+11,8.562377e+10,2.511871e+10,3.771751e+10,6.476838,4.916974,66.256238,...,5.091772e+06,8.266769e+09,22525.195566,32172.506871,3059.074441,8073.917881,19490.218562,10010.717397,4064.820947,40938.805602
75%,2012.000000,5.078428e+07,3.192777e+07,1.041086e+12,8.746873e+11,3.161215e+11,4.360304e+11,10.557000,10.127006,67.861732,...,2.352300e+07,3.984082e+10,43431.007663,47490.340113,11171.862688,19557.269825,43107.793647,23448.813094,14240.171904,59101.060752
max,2022.000000,7.951150e+09,3.455349e+09,1.390333e+14,1.641553e+14,1.005620e+14,8.974581e+13,38.800000,35.970125,73.885367,...,6.588299e+08,2.788546e+11,138534.229164,152929.632512,234317.084818,163219.491990,274446.363413,157602.482546,204190.973407,137222.254006